@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap');

html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: calc(1.5rem + 0.15vw);
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.35em 0.75em;
  border-bottom: 1px solid #bbb;
  background-color: rgb(235, 235, 235);
}

button {
  color: #fff;
  padding: 0.25em 0.5em;
  border: none;
  cursor: pointer;
  background-color: rgb(44, 44, 44);
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  font-size: 0.8em;
  text-align: center;
  padding: 0.35em 0.75em;
  border-top: 1px solid #bbb;
  background-color: rgb(235, 235, 235);
}

.temperature, .condition {
  text-align: center;
}

.temperature {
  font-size: calc(8rem + 3vw);
  font-family: 'Inter', sans-serif;
  /* font-weight: 400; */
}

.condition {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
}

.condition-icon {
  width: calc(3.2rem + 0.15vw);
  height: calc(3.2rem + 0.15vw);
  margin-left: 5px;
  background-size: contain;
  /* background-color: red; */
}

.user-input {
  margin: 2em 0 2em 0;
  background-color: #ccc;
}

.user-input > input[type="text"] {
  width: 15em;
  border: 2px solid #333;
  padding: 0.25em 0.35em;
  line-height: 1.5;
  outline: none;
}

.geolocation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header { background-color: rgb(183, 216, 208); } */
/* main { background-color: rgb(198, 190, 245); } */
/* main > div { background-color: white; } */
/* footer { background-color: rgb(235, 175, 225); } */
