@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap');

html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: calc(1.5rem + 0.15vw);
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
}

.temperature, .condition {
  text-align: center;
}

.temperature {
  font-size: calc(8rem + 3vw);
  font-family: 'Inter', sans-serif;
  /* font-weight: 400; */
}

.condition {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
}

.condition-icon {
  width: calc(3.2rem + 0.15vw);
  height: calc(3.2rem + 0.15vw);
  margin-left: 5px;
  background-size: contain;
  /* background-color: red; */
}

.geolocation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header { background-color: rgb(183, 216, 208); }
main { background-color: rgb(198, 190, 245); }
/* main > div { background-color: white; } */
footer { background-color: rgb(235, 175, 225); }
